

<section id="tasks">
    <header>
        <h2>
            {{seletedUserName}}'s Tasks
        </h2>
        <menu>
            <button (click)="addTask()">Add Task</button>
        </menu>
    </header>
    <ul>
        @for (task of selectedUserTask; track task.userId) {
            <li>
                <app-task [task]="task" (completeId)="onCompleteTask($event)"/>
            </li>
        }
        
    </ul>
</section>
@if (showNewTask) {
    <app-new-task [taskId]="selectedUserId" (cancelNewTask)="onCancelTask()" (addNewTask)="onNewTaskAdd($event)"/>
}


